#slide1{
    background-color: #051C2C;
    
}

#slide2{
    background-color: #051C2C;
}

input, ion-input{
    font-family: 'Poppins', sans-serif;
}

button{

    font-family: 'Poppins', sans-serif;
    color: #051C2C;
    border-radius: 35px;
    padding: 0.7em 3em 0.7em 3em;
    font-size: .9rem;
    text-decoration: none;
    display: inline-block;

}

.boton-color{
    background :linear-gradient(to right, #65D4B0, #4CB7CF, #39A0E6);
    box-shadow: 0px 0px 1px #04fff2;
    border-radius: 50px;

}

.boton-color:hover{
    box-shadow: 0px 0px 8px #04fff2;
}

#botonLogin:hover{
    background-color:rgb(233, 229, 229);
    border-radius: 50px;
   
}

.no-scroll{
    overflow-y: hidden;
}

.mainSlide img{
    width: 80%;
   margin: 0 0 0em 0;
    
}
.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}